# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Static files
staticfiles/

# Environment
.env

# IDE
.idea/
*.swp

# Images - Protect all images from being pushed to GitHub
portfolio/Image/
portfolio/static/portfolio/images/
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg
